.Hobby {
    background-color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 2rem;
    height: 35rem;
    width: 30rem;
    margin: auto;
}


.Hobby > p {
    font-weight: bold;
    display: flex;
    margin-left: 1rem;

}

.InputHobby {
    margin: auto;
    width: 25rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
}


button {
    color: white;
    height: 3rem;
    background-color: rgba(193, 230, 255, 0.878);
    cursor: pointer;
}

button:hover {
    background-color: rgb(222, 225, 225);
}

.CheckMember > span {
    color: blue;
    cursor: pointer;
}

.CheckMember {
    font-size: small;
}