@import "reset.css";

body {
    height: 100%;
    width: 100%;
    background-color: rgb(210, 210, 210);
}

.header {
    font-family: arial;
    font-size: 24px;
    top: 0;
    height: 80px;
    background-color: #3f51b5;
}

.header img {
    position: fixed;
    top: 20px;
    left: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    line-height: 80px;
}

.container {
    height: 500px;
    width: 880px;
    background-color: rgba(255, 255, 255, 0.833);
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}


.ControlButton {
    margin-bottom: 20px;
    right: 130px;
    width: fit-content;
}

.ControlButton > button {
    height: 30px;
    width: 100px;
    margin: 5px;
    border-color: transparent;
    background-color: #aaabb0;
    border-radius: 9px;
}


label {
    padding: 13px;
    width: 100px;
    background-color: #ccc;
}

.form-group {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}


.form-group>input {
    width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */

}

.form-group2 {

    align-items: baseline;
    display: flex;
    justify-content: flex-start;

}

.form-group2>input {
    width: 160px;
    height: 40px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}

.form-group2>select {
    width: 135px;
    height: 43px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}

.form-group2>label {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;


}

.buttons button {
    width: 48%;
    height: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    background-color: #e0e0e0;
}

.search-btn {
    background-color: #3f51b5;
    color: white;
}

.listbox {
    display: flex;
    width: fit-content;
    margin: auto;
}

table {
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 4px 4px;
}

th:nth-child(1) {
    width: 40px;
}

th:nth-child(2) {
    width: 80px;
}

th:nth-child(3) {
    width: 150px;
}

th:nth-child(4) {
    width: 150px;
}

th:nth-child(5) {
    width: 50px;
}

th:nth-child(6) {
    width: 50px;
}

th:nth-child(7) {
    width: 200px;
}

th:nth-child(8) {
    width: 200px;
}

th,td {
    text-align: center;
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
}

th {
    height: 50px;
    background-color: #9ea7d6;
    border-radius: 4px;
}

td {
    height: 70px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 2px; */
}

